﻿@{
    String strCodigo = String.Empty;
    if (Session["objUsuario"] != null)
    { strCodigo = ((DEISW.WEB.Models.Usuario)Session["objUsuario"]).NombreUsuario; }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/sb-admin.css")" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/Content/css/plugins/morris.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Dashboard")">Windigo</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                        <form name=CerrarSesion role="form" method="get" action="@Url.Action("CerrarSesion")">
                            <button type="button" onclick="confirmarCerrarSesion('¿Está seguro que desea cerrar sesión?')" class="btn btn-primary">
                                <i class="fa fa-fw fa-power-off"></i> Cerrar Sesión
                            </button>
                        </form>
            </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="@ViewBag.Dashboard">
                        <a href="@Url.Action("Dashboard")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="@ViewBag.Categoria">
                        <a href="@Url.Action("LstCategoria")"><i class="fa fa-fw fa-globe"></i> Categoria</a>
                    </li>
                    <li class="@ViewBag.Proveedor">
                        <a href="@Url.Action("LstProveedor")"><i class="fa fa-fw fa-user"></i> Proveedor</a>
                    </li>
                    <li class="@ViewBag.Producto">
                        <a href="@Url.Action("LstProducto")"><i class="fa fa-fw fa-flag"></i>Listar productos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <i class="@ViewBag.Icon"></i>
                            @ViewBag.Title <small>@ViewBag.SubTitle</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="@ViewBag.Icon"></i> @ViewBag.Title
                            </li>
                        </ol>
                    </div>
                </div>

                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Content/js/plugins/morris/raphael.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/morris/morris.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/morris/morris-data.js")"></script>

    <script>
    function confirmarCerrarSesion(message) {
        if (confirm(message)) {
            document.CerrarSesion.submit()
        }
    }
    function confirmarForm(message) {
        if (confirm(message)) {
            document.formulario.submit()
        }
    }
    function confirmRedirect(url,message) {
        if (confirm(message)) {
            document.location.href = url;
        }
    }
    </script>

</body>
</html>
