﻿@{
    String strCodigo = String.Empty;
    if (Session["objUsuario"] != null)
    { strCodigo = ((DEISW.WEB.Models.Usuario)Session["objUsuario"]).NombreUsuario; }
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Windigo E-commerce</title>
    <link href="~/ContentEcommerce/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/ContentEcommerce/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/ContentEcommerce/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="~/ContentEcommerce/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/ContentEcommerce/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="~/ContentEcommerce/js/simpleCart.min.js"> </script>
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">

                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                          
                            <form action="Principal" method="get">
                                <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="SearchString" name="SearchString">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>

                    <!-- search-scripts -->
                    <script src="~/ContentEcommerce/js/classie.js"></script>
                    <script src="~/ContentEcommerce/js/uisearch.js"></script>
                    <script>
							new UISearch( document.getElementById( 'sb-search' ) );
                    </script>
                    <!-- //search-scripts -->

                    <div class="ca-r">
                        <div class="cart box_1">
                            <a href="@Url.Action("MiCarrito")">
                                <h3>
                                    <div class="total">
                                        <span class="simpleCart_total"></span>
                                    </div>
                                    <img src="~/ContentEcommerce/images/cart.png" alt="" />
                                </h3>
                            </a>
                           

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <h1><a href="Principal">Windigo</a></h1>
                </div>
                <div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li><a class="color8" href="@Url.Action("Principal")">Productos</a></li>
                        <li><a class="color8" href="@Url.Action("CategoriaProducto")">Categorías</a></li>
                        @if (Session["objUsuario"] != null)
                        {
                            <li><a class="color8" href="@Url.Action("Historial")">Historial</a></li>
                            <li><a class="color4" href="@Url.Action("CerrarSesion")">Cerrar Sesión</a></li>
                        }
                        else
                        {
                            <li><a class="color8" href="@Url.Action("Login")">Login</a></li>
                        }
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    
   
    @RenderBody()
                
    <script>
    function confirmarCerrarSesion(message) {
        if (confirm(message)) {
            document.CerrarSesion.submit()
        }
    }
    function confirmarForm(message) {
        if (confirm(message)) {
            document.formulario.submit()
        }
    }
    function confirmRedirect(url,message) {
        if (confirm(message)) {
            document.location.href = url;
        }
    }
    </script>


</body> 
</html>
