﻿@model DEISW.WEB.ViewModel.AddEditUsuarioViewModel
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
}
<div class="grow">
    <div class="container">
        <h2>Crear cuenta</h2>
    </div>
</div>
<div class="container">
    <div class="account">
        <div class="account-pass">
            <div class="col-md-8 account-top">
                <form role="form" method="post" action="@Url.Action("AddEditUsuario")">
                    @Html.HiddenFor(x => x.UsuarioId)
                    <div class="form-group">
                        <label>Usuario</label> @Html.ValidationMessageFor(x => x.NombreUsuario)
                        @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" })

                        <label>Contraseña</label> @Html.ValidationMessageFor(x => x.Contraseña)
                        @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control" })

                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Guardar</button>
                    <a href="@Url.Action("Login")"><i class="fa fa-arrow-left"></i>Cancelar </a>

                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>



<script>
        function confirmarValidacion(message) {
                if(message)
                alert(message)
        }
</script>

                

