﻿@model DEISW.WEB.ViewModel.AddEditProductoViewModel
@{
    ViewBag.Title = "Producto";
    ViewBag.SubTitle = Model.ProductoId.HasValue ? "Editar" : "Agregar";
    ViewBag.Icon = "fa fa-user";
    ViewBag.Producto = "active";
    ViewBag.message = Model.ProductoId.HasValue ? "¿Está seguro de actualizar este producto?" : "¿Está seguro de registrar este producto?";
}

<form name=formulario role="form" method="post" action="@Url.Action("AddEditProducto")">
    @Html.HiddenFor(x => x.ProductoId)
    <div class="form-group">

         <label>Descripcion </label><label style="color:red">&nbsp;&nbsp; @Html.ValidationMessageFor(x => x.Descripcion)</label>
         @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
         <label>Monto</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.Monto)</label>
         @Html.TextBoxFor(x => x.Monto, new { @class = "form-control" })
         <label>Categoria</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.CategoriaId)</label>
         @Html.DropDownListFor(x => x.CategoriaId, new SelectList(@Model.ListaCategoria,
                      "CategoriaId", "Descripcion"), "[-Seleccione-]", new { @class = "form-control" })
         <label>Proveedor</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.ProveedorId)</label>
         @Html.DropDownListFor(x => x.ProveedorId, new SelectList(@Model.ListaProveedor,
                          "ProveedorId", "Descripcion"), "[-Seleccione-]", new { @class = "form-control" })

</div>
    <button type="button" onclick="confirmarForm('@ViewBag.message')" class="btn btn-primary">
        <i class="fa fa-save"></i>Guardar
    </button>
    <a href="@Url.Action("LstProducto")"><i class="fa fa-arrow-left"></i>Cancelar </a>
</form>