﻿@model DEISW.WEB.ViewModel.AddEditProveedorViewModel
@{
    ViewBag.Title = "Proveedor";
    ViewBag.SubTitle = Model.ProveedorId.HasValue ? "Editar" : "Agregar";
    ViewBag.Icon = "fa fa-flag";
    ViewBag.Proveedor = "active";
    ViewBag.message = Model.ProveedorId.HasValue ? "¿Está seguro de actualizar este proveedor?" : "¿Está seguro de registrar este proveedor?";
}
    
<form role="form" method="post" action="@Url.Action("AddEditProveedor")">
    @Html.HiddenFor(x => x.ProveedorId)
    <div class="form-group">
        <label>Descripcion</label>
        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
    </div>
    <button type="button" onclick="confirmarForm('@ViewBag.message')" class="btn btn-primary">
        <i class="fa fa-save"></i>Guardar
    </button>
    <a href="@Url.Action("LstProveedor")"><i class="fa fa-arrow-left"></i>Cancelar </a>
</form>
