﻿@model DEISW.WEB.ViewModel.AddEditCategoriaViewModel
@{
    ViewBag.Title = "Categoria";
    ViewBag.SubTitle = Model.CategoriaId.HasValue ? "Editar" : "Agregar";
    ViewBag.Icon = "fa fa-user";
    ViewBag.Categoria = "active";
    ViewBag.message = Model.CategoriaId.HasValue ? "¿Está seguro de actualizar esta catogoria?" : "¿Está seguro de registrar este catogoria?";
}

<form role="form" method="post" action="@Url.Action("AddEditCategoria")">
    @Html.HiddenFor(x=>x.CategoriaId)

   <div class="form-group">
       <label>Descripcion</label>
       @Html.TextBoxFor(x => x.Descripcion, new {@class="form-control" })
       @*<input class="form-control" name="descripcion" id="descripcion"/> *@ 
   </div>
    <button type="button" onclick="confirmarForm('@ViewBag.message')" class="btn btn-primary">
        <i class="fa fa-save"></i>Guardar
    </button>
    <a href="@Url.Action("LstCategoria")"><i class="fa fa-arrow-left"></i> Cancelar</a>
</form>
