﻿
@model PagedList.IPagedList<DEISW.WEB.Models.Categoria>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    
}
<br /><br /><br />
<div class="container">
    <div class="cont">
        <div class="content">
            <div class="content-top-bottom">
                <h1>Categorías</h1>
                <div class="grid-in">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 grid-top simpleCart_shelfItem">
                            <a href="@Url.Action("VerProductosCategoria",  new {CategoriaId= item.CategoriaId })" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="~/ContentEcommerce/images/pi1.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>@item.Descripcion</span>
                                    </h3>
                                </div>
                            </a>
                            <p><a href="@Url.Action("VerProductosCategoria",  new {CategoriaId= item.CategoriaId })">@item.Descripcion</a></p>
                           </div>
                    }
                </div>

                <br />

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("CategoriaProducto",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

            </div>
            <!----->
        </div>
    </div>
</div>
