﻿@{
    ViewBag.Title = "Producto";
    ViewBag.Icon = "fa fa-user";
    ViewBag.Producto = "active";
    ViewBag.Subtitle = "Confirmación";
}

@if(ViewBag.Option=="C"){
<h2>El producto se guardó satisfactoriamente</h2>
}else{
    <h2>Producto actualizado exitosamente</h2>
}
        <br />
      <a href="@Url.Action("LstProducto")"><i class="fa fa-arrow-left"></i>Aceptar </a>

