﻿@model DEISW.WEB.ViewModel.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Icon = "fa fa-dashboard";
    ViewBag.Dashboard = "active";
}

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-flag fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.NroProducto</div>
                        <div>Producto</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("LstCategoria")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.NroProveedor</div>
                        <div>Proveedor</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("LstProveedor")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-globe fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.NroCategoria</div>
                        <div>Categoria</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("LstCategoria")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalle</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
