﻿@model DEISW.WEB.ViewModel.HistorialViewModel
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Title = "Mi Historial";
}
<div class="grow">
    <div class="container">
        <h2>Mi Historial</h2>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaComprobante)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.Precio</td>
            </tr>
        }
    </tbody>
</table>


