﻿@model DEISW.WEB.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
}
<div class="grow">
    <div class="container">
        <h2>Login</h2>
    </div>
</div>
<div class="container">
    <div class="account">
        <div class="account-pass">
            <div class="col-md-8 account-top">
                <form role="form" method="post" action="@Url.Action("Login")">
                    <div class="form-group">
                        <label>Usuario</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.NombreUsuario)</label>
                        @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.Contraseña)</label>
                        @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Ingresar</button>
                    <a class="btn btn-primary" href="@Url.Action("AddEditUsuario")"><i class="fa fa-plus"></i>Crear Cuenta</a>
                    <a href="@Url.Action("Principal")"><i class="fa fa-arrow-left"></i>Cancelar </a>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>



    <script>
        function confirmarValidacion(message) {
                if(message)
                alert(message)
        }
    </script>
