﻿@model DEISW.WEB.ViewModel.LstCategoriaViewModel
@{
    ViewBag.Title = "Categoria";
    ViewBag.SubTitle = "Lista";
    ViewBag.Icon = "fa fa-globe";
    ViewBag.Categoria = "active";
}


<form role="form" method="post" action="@Url.Action("LstCategoria")">
    <div class="form-group">
        <label>Filtro</label>
        @Html.TextBoxFor(x => x.Filtro, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>Buscar</button>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstCategoria)
        {
            <tr>
                <td>@item.Descripcion</td>
                <td>
                    <a class="btn btn-default" href="@Url.Action("AddEditCategoria", new { CategoriaId = item.CategoriaId })">
                        <i class="fa fa-edit"></i> Modificar
                    </a>
                    <a class="btn btn-default"
                       onclick="confirmRedirect('@Url.Action("DeleteCategoria", new { CategoriaId = item.CategoriaId })','¿Seguro que eliminar esta categoria?')">
                        <i class="fa fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
</tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("AddEditCategoria")">
    <i class="fa fa-plus"></i> Crear
</a>
