﻿@model DEISW.WEB.ViewModel.LstProveedorViewModel
@{
    ViewBag.Title = "Proveedor";
    ViewBag.SubTitle = "Lista";
    ViewBag.Icon = "fa fa-flag";
    ViewBag.Proveedor = "active";
}
<form role="form" method="post" action="@Url.Action("LstProveedor")">
    <div class="form-group">
        <label>Filtro</label>
        @Html.TextBoxFor(x => x.Filtro, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>Buscar</button>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstProveedor)
        {
            <tr>
                <td>@item.Descripcion</td>
                <td>
                    <a class="btn btn-default" href="@Url.Action("AddEditProveedor", new { ProveedorId = item.ProveedorId })">
                        <i class="fa fa-edit"></i> Modificar
                    </a>
                    <a class="btn btn-default"
                       onclick="confirmRedirect('@Url.Action("DeleteProveedor", new { ProveedorId = item.ProveedorId })','¿Seguro que eliminar este proveedor?')">
                        <i class="fa fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("AddEditProveedor")">
    <i class="fa fa-plus"></i> Crear
</a>

