﻿@model PagedList.IPagedList<DEISW.WEB.Models.Producto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Producto";
    ViewBag.SubTitle = "Lista";
    ViewBag.Icon = "fa fa-user";
    ViewBag.Producto = "active";
}
@using (Html.BeginForm("LstProducto", "Home", FormMethod.Get))
{
    <p>
        Buscar por descripción: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Monto</th>
            <th>Proveedor</th>
            <th>Categoria</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descripcion</td>
                <td>@item.Monto</td>
                <td>@item.Proveedor.Descripcion</td>
                <td>@item.Categoria.Descripcion</td>
                <td>
                    <a class="btn btn-default" href="@Url.Action("AddEditProducto", new {ProductoId= item.ProductoId })">
                        <i class="fa fa-edit"></i> 
                    </a>
                    <a class="btn btn-default"
                       onclick="confirmRedirect('@Url.Action("DeleteProducto", new { ProductoId = item.ProductoId })','¿Seguro que eliminar este producto?')">
                        <i class="fa fa-trash"></i> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("LstProducto",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<a class="btn btn-primary" href="@Url.Action("AddEditProducto")">
    <i class="fa fa-plus"></i> Crear
</a>