﻿@model DEISW.WEB.Models.Carrito
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Title = "Mi Carrito";
}
<div class="grow">
    <div class="container">
        <h2>Mi Carrito</h2>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Monto</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.productos)
        {
            <tr>
                <td>@item.producto.Descripcion</td>
                <td>@item.cantidad</td>
                <td>@item.precioTotal</td>
                <td>
                    <a class="btn btn-default"
                       onclick="confirmRedirect('@Url.Action("DeleteProductoCarrito", new { ProductoId = item.producto.ProductoId })','¿Seguro que eliminar este producto?')">
                        <i class="fa fa-trash">Eliminar</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <h2>Precio Total:  </h2>@Model.getPrecioTotal()
</table>

<a class="btn btn-primary" href="@Url.Action("ComprarTodo")">
    <i class="fa fa-plus"></i> Comprar
</a>

