﻿@model DEISW.WEB.ViewModel.ProductoViewModel
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Title = "VerDetalle";
}
<div class="grow">
    <div class="container">
        <h2>Ver</h2>
    </div>
</div>
<div class="product">
    <div class="container">
        <div class="product-price1">
            <div class="top-sing">

                <div class="col-md-5 single-top-in simpleCart_shelfItem">
                    <div class="single-para ">
                        <h4>@Model.objProducto.Descripcion</h4>
                        <div class="star-on">

                            <div class="review">
                                <a href="#">@Model.objProducto.Categoria.Descripcion</a>

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <h5 class="item_price">@Model.objProducto.Monto</h5>
                  

                        <a href="@Url.Action("AddCarrito",new { ProductoId = Model.objProducto.ProductoId })" class="add-cart item_add">Agregar carrito</a>

                    </div>
                </div>
             
            </div>
            <!---->


        </div>

        <div class="clearfix"> </div>
    </div>
</div>
