﻿
@model PagedList.IPagedList<DEISW.WEB.Models.Producto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_LayoutCompra.cshtml";
    ViewBag.Title = "Productos por Categoría";
    ViewBag.SubTitle = "Lista";
    ViewBag.Icon = "fa fa-user";
    ViewBag.Producto = "active";
}
<br /><br /><br />
<div class="container">
    <div class="cont">
        <div class="content">
            <div class="content-top-bottom">
                <h1>Productos</h1>
                <div class="grid-in">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 grid-top simpleCart_shelfItem">
                            <a href="@Url.Action("VerDetalle",  new {ProductoId= item.ProductoId })" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="~/ContentEcommerce/images/pi.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-left    b-delay03 ">
                                        <span>@item.Descripcion</span>

                                    </h3>
                                </div>
                            </a>

                            <p><a href="@Url.Action("VerDetalle",  new {ProductoId= item.ProductoId })">@item.Descripcion</a></p>
                            <a href="@Url.Action("AddCarrito",new { ProductoId = item.ProductoId })" class="item_add"><p class="number item_price"><i> </i>@item.Monto</p></a>
                        </div>
                    }
                </div>

                <br />

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("VerProductosCategoria",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




            </div>
            <!----->
        </div>
    </div>
</div>

